.banner.section .row h1 {
    font-size: 22px;
}

.banner .banner-wrapper {
    display: flex;
    gap: 40px;
    flex-flow: row wrap;
}

.banner .banner-wrapper .item,
.banner .banner-wrapper .item img {
    border-radius: var(--borderRadius);
}

.banner .banner-wrapper .item.grey {
    background-color: var(--light-grey);
}

.banner .banner-wrapper .item:nth-of-type(1) {
    flex: 2 0;
}

.banner .banner-wrapper .item:nth-of-type(2) {
    flex: 1 0;
    padding: 30px;
    justify-content: center;
}

.usp-wrapper .item {
    flex-direction: unset;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}

.usp-wrapper .item .content {
    flex: 1 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.usp-wrapper .item .content:nth-of-type(1) img {
    max-width: 90px;
    margin: 0 auto;
}

.usp-wrapper .item .content:nth-of-type(2) {
    flex: 2 0;
}

.reviews .row .col:nth-of-type(1) {
    flex: 1 0;
}

.reviews .row .col:nth-of-type(2) {
    flex: 2 0;
}

.splide__list {
    gap: 40px;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

.splide__list .splide__slide .splide__slide__content {
    padding: 20px;
}

.splide__list .splide__slide .splide__slide__content h3 {
    font-size: 22px;
}

.gallery.section .splide__pagination {
    display: none;
}

.splide__slide,
.splide__list .splide__slide .splide__slide__content {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.splide__slide,
.splide__slide img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.wrapper.mobile {
    display: none;
}

@media (max-width: 560px) {
    .wrapper.splide {
        /* display: none; */
    }

    .reviews h2 {
        text-align: center;
    }

    .banner .banner-wrapper {
        gap: 20px;
    }

    .banner .banner-wrapper .item:nth-of-type(1),
    .banner .banner-wrapper .item:nth-of-type(2) {
        flex: 1 0 100%;
    }

    .usp-wrapper .item {
        flex: 1 0 100%;
    }
}